body{
  background-color: rgb(88, 182, 236);  
}

h1{
    text-align: center;
}

.divbl{

background: rgb(255, 255, 255);

}

table{
    background: rgb(11, 22, 114);
    border-radius: 5%;
    width: 170px;
    margin: auto;
}


p {
text-align: center;
}

button{
    width:40px;
    background-color:rgb(171, 153, 221);
    color: white;
    height:40px;
    font-size:25px;
    margin: 2px;
}

.especial{
    width:40px;
    background-color:rgb(95, 50, 219);
    color: white;
    height:40px;
    font-size:25px;
    margin: 2px;

}